.login-background {
  position: relative;
  background: #007bff;
  background: linear-gradient(to right, #0062e6, #33aeff);
  height: 100%;
  margin: auto;
  display: flex;
}

.login-inner {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

html,
body,
head {
  height: 100%;
  margin: 0;
  overflow: auto;
}

a {
  text-decoration: none;
}

.titlePost {
  background: linear-gradient(to right, #0062e6, #33aeff);
  padding: 50px;
  text-align: center;
}

.titlePost h1 {
  color: white;
}

.fix {
  clear: both;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

span {
  color: #33aeff;
  font-size: larger;
}
